/* 
COLORS:

LightGreen: #7ed56f
MediumGreen: #55c57a
DarkGreen: #28b485



*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 3vh 3vw;
  position: relative;
}
.header,
.header1 {
  position: absolute;
  width: 94vw;
  height: 94vh;
  background-image: url("hero.jpg");
  background-position: center;
  background-size: cover;
}
.header {
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  text-align: center;
  vertical-align: middle;
}
.header img {
  position: absolute;
  left: 40px;
  top: 40px;
  width: 100px;
  animation: img1 15s infinite linear;
  animation-timing-function: ease-in-out;
}
@keyframes img1 {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  30% {
    transform: translate(83vw, 0) rotate(360deg);
  }
  45% {
    transform: translate(83vw, 60vh) rotate(720deg);
  }
  78% {
    transform: translate(0, 80vh) rotate(1080deg);
  }
  100% {
    transform: translate(0, 0) rotate(1440deg);
  }
}
.text-header {
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-top: 200px;
}
.heading1 {
  font-size: 60px;
  letter-spacing: 30px;
  font-weight: 550;
}
.heading4 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 10px;
  font-weight: 500;
}
.discover {
  color: #7ed56f;
  background-color: white;
  border-style: none;
  padding: 10px 30px;
  border-radius: 20px;
  position: relative;
}

.discover::after {
  content: "";
  position: absolute;
  /* display: inline-block; */
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  border-style: none;
  border-radius: 20px;
  transition: all 1s;
  animation-name: btnHover;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes btnHover {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
